@import '~@angular/material/theming';


@mixin navtabs-component-theme($hotelApp){

    $primary: map-get($hotelApp-primary, primary);
    $accent: map-get($hotelApp-accent, accent);

    // Theme Styles Go Here
    .navtabs-container{
        background-color: mat-color($hotelApp-primary, 300);
    }
}